.header_main {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    height: 100px;
    border-bottom: 1px black solid;
}

.currency_rates {
    display: flex;
    flex-direction: row;
    
}