<div class="container">
    <div class="box">
        <div class="header_text" >
              <p>THE National Bank of Ukraine`s official rates as of, {{getDate()}}, are:</p>
        </div>
        <div class="currencies_rates">

                <div class="currency_display" >1 Euro = {{getEur()}} Hryvnya (UAH)</div>



                <div class="currency_display" >1 US Dollar = {{getUsd()}} Hryvnya (UAH)</div>

        </div>
        <app-convertor class="convertor"[rates_Usd]="rates_Usd" [rates_Eur]="rates_Eur" [rates_Uah]="rates_Uah" ></app-convertor>

    </div>
    <footer class="footer">&copy;<a href="https://github.com/ACHASNYK"></a>

    </footer>
</div>
