.container {
    background: #f0f0f0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.box {
    border-radius: 20px;
    width: 45vw;
    min-width: 750px;
    height: 55vh;
    min-height:400px;
        background: #fafafa;
        box-shadow: 40px 40px 40px #cccccc,
            0 0 0 #ffffff,
            0 0 0 #cccccc inset,
            2px 2px 2px #ffffff inset;
        }



.header_text {
    font-size:large;
    display: flex;
    color: #999;
    flex-direction: column;
    margin: 1rem;
    text-align: center;
    font-weight: normal;
    mix-blend-mode: difference;
    border-top: #999 1px solid;
    padding-top: 10px;

}
.footer {
  font-size: 6px;
  position:relative;
  margin-bottom: 4px;
  margin-right: 10px;
}
.currencies_rates {
    display: flex;
    margin: auto;

    justify-content: space-around;
    flex-direction: row;




}

.currency_display {
   border-bottom: #999 1px solid;
   box-shadow: 10px #cccccc inset;
   border-radius: 5px;
   margin: auto;
   padding: 5px 5px 5px 5px;
   background: #ffffff;

}

/* .header_main {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    height: 100px;
    border-bottom: 1px black solid;
}

.currency_rates {
    display: flex;
    flex-direction: row;

} */
