input {
    font-size: 30px;
    color: #757575;
    padding: 10px 10px 15px 5px;
    display: block;
    width: 150px;
    border: none;
    border-bottom: 1px solid #757575;
    background: none;
}

.error {
    font-size: 15px;
    color: rgb(173, 73, 73);
    transition: 1s 0px 10px;

}


.rate {
    font-size: 20px;
    font-weight: normal;
    color: #757575;
    padding: 10px 10px 15px 5px;
    display: flex;
    margin-top: 10px;
    width: auto;
    border: none;
    border-bottom: 1px solid #757575;
    background: none;
}
.rate:focus{
    outline: none;
     border-bottom: 2px solid #757575;
}

input:focus {
    outline: none;
}

input:focus ~ label {
    top:-35px;
  font-size:14px;
  color:#16aa4f;
}


.form-input{

    position: relative;
    margin-bottom: 10px;


}

.converter_text {
    font-size: 50px;
    display: flex;
    color: #999;
    flex-direction: column;
    margin-top: 90px;

    text-align: center;
    font-weight: normal;
    mix-blend-mode: difference;

}

.group-input{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;

}
label {
    color: #999;
    size: 20px;
    position: absolute;
    left:5px;
    top:-20px;

    font-weight:normal;

    pointer-events: none;

    transition: 0.4s color 0.2s ease all;


}

.sign{

    display: flex;
    font-weight:300;
    font-size: 50px;
    padding-top: 7px;
    margin-left: 15px;
    margin-right: 15px;
}

.bar {
    position: relative;
    display: block;
    width: 150px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #c6c8ce;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}
