<div class="converter_text">
    <span>CURRENCY CONVERTER</span>
</div>
<form [formGroup]="myForm" class="group-input">
    
    <div class="form-input">
        <input type="text" formControlName="number1" (focus)="onFocusLeft()" >
        <label id="lbl1">input amount </label>
        <span class="highlight"></span>
        <span class="bar"></span>
        <div class="error" *ngIf="(myForm.get('number1')?.dirty ||
                         myForm.get('number1')?.touched
                        ) &&
                        myForm.get('number1')?.invalid">
           <strong>error</strong> - pls input digits
        </div>
    </div>
    <div class="form-input">
         
        <select  class="rate" formControlName="rate1" (change)="setRate1($event)">
            <option value="" disabled>choose a currency</option>
            <option value={{this.rates_Usd}}>
            (USD) US Dollar
            </option>
            <option value={{this.rates_Eur}}>
            (EUR) Euro
            </option>
            <option value={{this.rates_Uah}}>
            (UAH) Hryvnya
            </option>
        </select>
    </div>
    <div class="sign">
        <span> = </span>
    </div>
    <div class="form-input">
        <input type="text" formControlName="number2"  (focus)="onFocusRight()">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label id="lbl2">input amount</label>
        <div class="error" *ngIf="(myForm.get('number1')?.dirty ||
                             myForm.get('number1')?.touched
                            ) &&
                            myForm.get('number1')?.invalid">
        <strong>error</strong> - pls input digits
         </div>
    </div>

    
    <div class="input-form">
        <select class="rate" formControlName="rate2" (change)="setRate2($event)">
            <option value="" disabled>choose a currency</option>
            <option value={{this.rates_Usd}}>
                (USD) US Dollar
            </option>
            <option value={{this.rates_Eur}}>
                (EUR) Euro
            </option>
            <option value={{this.rates_Uah}}>
                (UAH) Hryvnya
            </option>
        </select>
    </div>

    

</form>
