<div>
    <h1>Please input amount and select a currency</h1>
</div>
<div>
    <input (change)="onChangeLeft()">
    <select>
        <option>
            USD
        </option>
        <option>
            EUR
        </option>
        <option>
            UAH
        </option>
    </select>
</div>
<div>
    <input (change)="onChangeRight()">
    <select>
        <option>
            USD
        </option>
        <option>
            EUR
        </option>
        <option>
            UAH
        </option>
    </select>
</div>
